.downloadButton {
  display: flex;
  align-items: center;
  gap: 21px;
  padding: 3px 6px;
  background: #ffffffff;
  border-radius: 999px;
  transition: background 0.3s ease;
  border: none;
  height: 60px;
}

.iconCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s ease;
  /* background-color: #fff;  */

  /* .iconSvg {
    background: var(--White, #ffffff);
    border-radius: 50%;
  } */
}


.rightSide {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-right: 27px;
  transition: all 1s ease;
}

.iconSvg {
  display: block;
  /* background-color: var(white, #FFFFFF); */
}

.buttonText {
  color: var(--Black, #08050d);
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.arrowSvg {
  transition: stroke 0.4s ease 0.1s;
  weight: 3,75px
}

.buttonText {
  position: relative;
  display: inline-block;
  color: var(--Black, #08050d);
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  transition: color 0.6s ease; /* плавный возврат в черный */
}

/* Псевдоэлемент для градиента */
.buttonText::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(312deg, #bdfff4 -0.21%, #d93497 100.23%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: opacity 0.6s ease;
}

/* При наведении плавно появляется градиент */
.downloadButton:hover .buttonText {
  color: transparent;
}

.downloadButton:hover .buttonText::after {
  opacity: 1;
}

.downloadButton:hover {
  .iconCircle {
    transform: translateX(370%);
  }
  .rightSide {
    transform: translateX(-30%);
  }
  .buttonText {
    color: transparent;
  }
  .buttonText::after {
    opacity: 1;
  }
}

/* 
.downloadButton:hover {
  .iconCircle {
    transform: translateX(370%);
  }
  .rightSide {
    transform: translateX(-30%);
  }
  .buttonText {
    background: linear-gradient(312deg, #bdfff4 -0.21%, #d93497 100.23%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }

} */

/* Меняем цвет стрелочек на градиент */
/* .arrowSvg path {
  stroke: url(#buttonGradient);
} */
