@custom-media --mobile (max-width: 743px);
@custom-media --tablet (min-width: 744px) and (max-width: 1199px);
@custom-media --laptop (min-width: 1200px);

.mainSection {
  /* height: 100vh;
  box-sizing: border-box; */
  background: var(--color-extra-light);
}

/* .wrapper {
  width: 100%;
  height: 100%;
} */

.mobileContainer {
  display: block;

  @media (--tablet) {
    display: none;
  }

  @media (--laptop) {
    display: none;
  }
}

.tabletContainer {
  display: none;

  @media (--tablet) {
    display: block;
  }

  @media (--laptop) {
    display: none;
  }
}

.desktopContainer {
  display: none;

  @media (--laptop) {
    display: block;
  }
}

.mobileTabletContainer {
  display: block;

  @media (--laptop) {
    display: none;
  }
}

.desktopContainer {
  display: none;

  @media (--laptop) {
    display: block;
  }
}
