@custom-media --mobile (max-width: 743px);
@custom-media --tablet (min-width: 744px) and (max-width: 1199px);
@custom-media --laptop (min-width: 1200px) and (max-width: 1439px);
@custom-media --desktop (min-width: 1440px) and (max-width: 1919px);
@custom-media --large (min-width: 1920px);

.header {
  position: relative;
  z-index: 1000;
  @media (--laptop, --desktop, --large) {
    display: flex;
    align-items: center;
  }

}

.mobileTabletOnly {
  display: block;
  @media (min-width: 1200px) {
    display: none;
  }
}

.desktopOnly {
  display: none;
  @media (min-width: 1200px) {
    display: block;
  }
}
