.header {
  position: relative;
  z-index: 1000;
}

.mobileTabletOnly {
  display: block;
  @media (min-width: 1200px) {
    display: none;
  }
}

.desktopOnly {
  display: none;
  @media (min-width: 1200px) {
    display: block;
  }
}
