.apkButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: none;
  background: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  transition: all 0.2s ease;
}

.apkButton:hover {
  color: var(--color-grey);
}
