@custom-media --mobile (max-width: 743px);
@custom-media --tablet (min-width: 744px) and (max-width: 1199px);

.platformButton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 16px 24px;
  border: none;
  border-radius: 36px;
  background: var(--color-black);
  color: var(--color-white);
  
  line-height: 18px;
  transition: all 0.3s ease;
  white-space: nowrap;
  box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.25);

  &:hover {
    box-shadow: 0 12px 24px 0 hsla(298, 100%, 88%, 0.35);
  }

  @media (--mobile) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.platformIcon {
  flex-shrink: 0;
  transition: opacity 0.2s ease;

  @media (--mobile) {
    position: static;
    opacity: 1;
  }
}

.buttonText {
  position: relative;
  z-index: 2;
  transition: transform 0.2s ease;
  flex: 0 1 auto;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;

  @media (--mobile) {
    position: static;
    transform: none;
    text-align: center;
  }
}

.downloadIcon {
  position: absolute;
  right: 12px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.2s ease;
  flex-shrink: 0;

  @media (--mobile) {
    right: 0px;
    position: static;
    margin: 0px;
    padding: 0px;
    opacity: 0;
    z-index: 1;
  }
}

.platformButton:hover .platformIcon {
  opacity: 0;
}

.platformButton:hover .buttonText {
  transform: translateX(-25px);
}

.platformButton:hover .downloadIcon {
  opacity: 1;
}
