@custom-media --mobile (max-width: 743px);
@custom-media --tablet (min-width: 744px) and (max-width: 1199px);
@custom-media --laptop (min-width: 1200px) and (max-width: 1439px);
@custom-media --desktop (min-width: 1440px) and (max-width: 1919px);
@custom-media --large (min-width: 1920px);

.desktopNav {
  position: fixed;
  background: #08050d;
  border-radius: 36px;
  box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.25);
  padding: 6px;
  top: 36px;
  display: flex;
  align-items: center;
  z-index: 100; /* Меньший z-index чем у бургер-меню */

  @media (--laptop) {
    right: 223px;
  }

  @media (--desktop) {
    right: 382.5px;
  }

  @media (--large) {
    right: 622.5px;
    top: 42px;
  }
}

.backButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: white;
  text-decoration: none;
  padding: 0.75rem 1rem;
  border-radius: 30px;
  transition: all 0.2s ease;
  font-size: 0.9rem;

  &:hover {
    background: white;
    color: #08050d;

    & svg path {
      stroke: #08050d;
    }
  }
}

.menuItems {
  display: flex;
}

.menuItem {
  color: white;
  text-decoration: none;
  padding: 0.75rem 1rem;
  border-radius: 30px;
  transition: all 0.2s ease;
  font-size: 0.9rem;
  white-space: nowrap;

  &:hover {
    background: white;
    color: #08050d;
  }
}
