@custom-media --mobile (max-width: 743px);
@custom-media --tablet (min-width: 744px) and (max-width: 1199px);
@custom-media --laptop (min-width: 1200px) and (max-width: 1439px);
@custom-media --desktop (min-width: 1440px) and (max-width: 1919px);
@custom-media --large (min-width: 1920px);

.reviewsSection {
  height: 100vh;
  background-image: url("/icons/shadow-reviews.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  box-sizing: border-box; */
}

.descriptionSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 48px;
  gap: 18px;
  /* @media (--tablet) {
    height: 702px;
  } */
}

.title {
  font-family: Lato;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
  color: #222;
  margin-bottom: 12px;
  text-align: center;

  @media (--mobile) {
    font-size: 36px;
    line-height: 36px;
  }
}

.description {
  font-family: Lato;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.3;
  color: #222;
  text-align: center;

  @media (--mobile) {
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    max-width: 180px;
  }
}

.sliderContainer {
  width: 100%;
  overflow: hidden;
  display: flex;
  /* display: flex;
  flex-direction: column; */

  /* padding: 20px 0; */
  /* position: relative; */
  /* bottom: 5% */
  /* margin-bottom: 20px; */
}

.reviewsList {
  display: flex;
  gap: 24px;
  padding: 20px 12px;
  /* margin-top: auto; */
  /* justify-content: flex-start; */
  /* align-items: center; */

  overflow-x: scroll;
  scroll-behavior: smooth;

  scrollbar-color: var(--color-blue-brand);

  &::-webkit-scrollbar {
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    background: var(--color-extra-light);
    margin: 0 24px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: var(--color-blue-brand);
  }
}

.reviewItem {
  min-width: 220px;
  /* max-width: 90vw; */
  flex: 0 0 auto;
}

@media (--mobile) {
  .reviewsList {
    gap: 16px;
    padding: 16px 8px;
  }

  .sliderContainer {
    bottom: 0;
  }

  .reviewItem {
    min-width: 180px;
    /* max-width: 85vw; */
  }
}
